<% content_for :meta_title, "Mentions Légales" %>
<% content_for :meta_description, "Copyright © 2015 CFORGOOD S.A.S" %>
<% content_for :meta_image %>

<div class="container-fluid">
  <div class="container-fluid" id="header-cforgood-legal">
    <div class="row">
      <div class="page-title" id="page-title-legal">
        <h1>Mentions Légales</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-legal">
    <div id="whitebox-legal"></div>
    <div class="row">
      <!-- Sub Menu NavBar  -->
      <%= render "pages/shared/tabs_footer_legal" %>
      <!-- Content -->
      <div class="col-xs-12 col-sm-6 content-legal">
        <p>
          • Forme sociale : S.A.S.<br>
          • Capital social : 50 €<br>
          • RCS : BORDEAUX 814 251 906<br>
          • Directeurs de la publication : Allan FLOURY<br>
          • Hébergeur : OVH, 2 rue Kellermann 59100 Roubaix.<br><br>
          CFORGOOD S.A.S détient l'intégralité des droits de propriété intellectuelle relatifs aux éléments et au contenu du site cforgood.com. Pour cette raison, toute utilisation de quelque nature que ce soit et/ou toute reproduction de tout ou partie d'un élément du site cforgood.com constitueraient une contrefaçon.
        </p>
        <br>
      </div>
    </div>
  </div>
</div>
