<h2 class="black">Copyright © 2015 CFORGOOD S.A.S.</h2><br><br>
<p class="black">
• Forme sociale : S.A.S.<br>
• Capital social : 50 €<br>
• RCS : BORDEAUX 814 251 906<br>
• Directeurs de la publication : Allan FLOURY<br>
• Hébergeur : OVH, 2 rue Kellermann 59100 Roubaix.<br><br>
CFORGOOD S.A.S détient l'intégralité des droits de propriété intellectuelle relatifs aux éléments et au contenu du site cforgood.com. Pour cette raison, toute utilisation de quelque nature que ce soit et/ou toute reproduction de tout ou partie d'un élément du site cforgood.com constitueraient une contrefaçon.
</p><br><br>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
</div>